
{% extends 'base/head.html' %}
{% load core_extras %}
{% load static %}
{% block content %}
<style type="text/css">
	.media{
        border: 1px solid silver;
        border-radius: 15px;
        padding: 10px;
    }
    div.dataTables_wrapper div.dataTables_scrollBody {
      min-height: 300px!important;
    }

    .datatable-scroll-wrap{
        min-height: 300px!important;;
    }
    .dataTables_scrollHeadInner{
        width: 100%!important;
    }
</style>
<div class="row">
	<!-- Typeahead -->
	<p class="card_cus_head">Client List</p>
	<div class="card col-12 card_cus">
		<div class="card-header">
			<h5 class="card-title">Client List</h5>
		</div>

		<div class="card-body">
			{% csrf_token %}
			<!-- <p class="mb-4">Table dibawah ini berupa list seluruh unit dari organization JADDI</p> -->
			<div class="btn-group mr-lg-3 mb-3">
				<a href="{% url 'client-add' %}"><button type="button" class="btn btn-light"><i class="icon-diff-added"></i> <span class="d-none d-lg-inline-block ml-2">Add Client</span></button></a>
				<a href="{% url 'client-sync' %}"><button type="button" class="btn btn-light ml-2"><i class="icon-diff-added"></i> <span class="d-none d-lg-inline-block ml-2">SYNC Client</span></button></a>
			</div>
			<div class="row ">
				
				<div class="col-12">
					<!-- <input type="text" id="search_input"  class="form-control mb-3" placeholder="Search Client"> -->


					<!-- Nav tabs -->
					<ul class="nav nav-tabs">
					  <li class="nav-item">
					    <a class="nav-link active" data-toggle="tab" href="#home">Data Followup</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" data-toggle="tab" href="#menu1">Client</a>
					  </li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
					   <div class="tab-pane active" id="home">
					   		<div class="row pt-4">
                                <div class="col-12">
                                    <div class="button btn btn-danger" id="delete-data-followup-btn">
                                        Delete Data Followup
                                    </div>
                                </div>
                            </div>
					  		<table class="stripe table row-border order-column" id="table-main" width="100%">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                          				<th scope="col">Nama</th>
                                        <th scope="col">Shared Date</th>
                                        <th scope="col">Register Date</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">No. Telepon</th>
                                        <th scope="col">Staff</th>
                                        <th scope="col">Source</th>
                                        <th scope="col">Medium</th>
                                        <th scope="col">Campaign</th>
                                        <th scope="col">Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   
                                </tbody>
                            </table>
					  </div>
					  <div class="tab-pane fade" id="menu1">

                        <table class="stripe table row-border order-column" id="table-main-2" width="100%">
                              <thead>
                                <tr>
                                  
                                 	<th scope="col">Nama</th>
                                    <th scope="col">Shared Date</th>
                                    <th scope="col">Register Date</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">No. Telepon</th>
                                    <th scope="col">Source</th>
                                    <th scope="col">Medium</th>
                              		<th scope="col">Campaign</th>
                              		<th scope="col">Aksi</th>
                                </tr>
                              </thead>
                              <tbody>
                              </tbody>
                            </table>

					  						
					  </div>
					</div>




					

					

					
				</div>

			</div>
		</div>

	</div>
	<!-- /typeahead -->
</div>
<!-- Mini modal -->
<div id="modal_mini" class="modal fade" tabindex="-1">
	<div class="modal-dialog modal-xs">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Pick Color</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<div class="modal-body">
				<!-- <h6 class="font-weight-semibold">Text in a modal</h6> -->
				<input type="color" class="form-control"  name="client-color" id="client-color">
				
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" id="color-button-save">Save changes</button>
			</div>
		</div>
	</div>
</div>
<div id="delete-data-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete data ?</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                Are you sure to Delete this data ?
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="modal-delete-btn">Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- /mini modal -->
<script type="text/javascript">
	function SetupColumnSearch(table, columnTitles) {
	    /* Setup column-level search input fields. */
	    $(table.table().header()).find('th').each( function () {
	        var title = $(this).text();
	        console.log('title', title);
	        if (columnTitles.indexOf(title) > -1)
	            $(this).html( '<input type="text" placeholder="'+title+'" class="column_search" oninput="stopPropagation(event)" onclick="stopPropagation(event);"/>' );
	    } );

	    /* Setup column-level searches on enter key only. */
	    table.columns().every( function () {
	        var column = this;
	        $( 'input.column_search', this.header() ).on( 'keyup', function (e) {
	            /* Ignore all keyup events except for return keys */
	            if(e.type === 'keyup' && e.keyCode !== 10 && e.keyCode !== 13) return;

	            /* Avoid a DataTables bug where invisible columns show up */
	            if (column.visible()) {
	                table.column( column.index() ).search( this.value ).draw();
	            }
	        } );
	    } );
	}
	function stopPropagation(evt) {
	    if (evt.stopPropagation !== undefined) {
	        evt.preventDefault();
	        evt.stopPropagation();
	    } else {
	        evt.cancelBubble = true;
	    }
	}
	$(function() {
		var data_followup_ajax = [];
		data_followup_ajax['page'] = 1
		data_followup_ajax['query'] = ''
		data_followup_ajax['csrfmiddlewaretoken'] = $("input[name=csrfmiddlewaretoken]").val();;

		let client_ids = [];
        let data_post = {};

        $('#delete-data-followup-btn').click(function(){
            $('#delete-data-modal').modal('show');
        });
        $('#modal-delete-btn').click(function(){
            delete_client();
        });
        function delete_client(){
            
            data_post['client_ids'] = client_ids;
            $.ajax({
                url: "{% url 'client-delete'%}",
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data_post),

                success: function(result) {
                    console.log(result);
                    window.location.href = result['url'];

                }
            });
        }

        var tableMainDataTable = $("#table-main").DataTable({
            dom: '<"datatable-header"fl><"datatable-scroll datatable-scroll-wrap"t><"datatable-footer"ip>',
            language: {
                search: '<span>Search:</span> _INPUT_',
                searchPlaceholder: 'Type to search...',
                lengthMenu: '<span>Show:</span> _MENU_',
            },
            scrollX: true,
            "autoWidth": false,
            "pageLength": 100,
	        serverSide: true,
	        sAjaxSource: "{% url 'admin-client-server-side' %}",
	        
	        order: [[2, 'desc']],
            columns: [
               {
                    name: "checkbox", 
                    data: 0, 
                    render: function ( data, type, row ) {
                        return data;
                    }
                },
                {name: "nama", data: 1},
                {name: "created_at", data: 2},
                {name: "magnet_created_at", data: 3},
                {name: "email", data: 4},
                {name: "phone_np", data: 5},
                {name: "staff", data: 10},
                {name: "source_detail_2", data: 6},
                {name: "medium", data: 7},
                {name: "campaign", data: 8},
                {
                    name: "aksi", 
                    data: 9, 
                    render: function ( data, type, row ) {
                        return data;
                    }
                },
            ],
            fixedColumns: {
                leftColumns: 1,
                // rightColumns: 1
            }
        });
        SetupColumnSearch(tableMainDataTable, ["Source",]);
        var tableMain2DataTable = $("#table-main-2").DataTable({
            dom: '<"datatable-header"fl><"datatable-scroll datatable-scroll-wrap"t><"datatable-footer"ip>',
            language: {
                search: '<span>Search:</span> _INPUT_',
                searchPlaceholder: 'Type to search...',
                lengthMenu: '<span>Show:</span> _MENU_',
            },
            scrollX: true,
            // scrollY: '350px',
            scrollCollapse: true,
            "pageLength": 100,
            "lengthChange": false,
            serverSide: true,
	        sAjaxSource: "{% url 'admin-deposit-client-server-side' %}",
	        
	        columns: [
               	{name: "nama", data: 0},
               	{name: "created_at", data: 1},
               	{name: "magnet_created_at", data: 2},
	            {name: "email", data: 3},
	            {name: "phone_np", data: 4},
	            {name: "source_detail_2", data: 5},
	            {name: "medium", data: 6},
	            {name: "campaign", data: 7},
	            {
	            	name: "aksi", 
	            	data: 8, 
	            	render: function ( data, type, row ) {
					    return data;
					}
	            },
            ],
            fixedColumns: {
                leftColumns: 1,
                // rightColumns: 1
            }


        });

        SetupColumnSearch(tableMain2DataTable, ["Source",]);
		$(".table-row").click(function() {
		 	var link = $(this).data('href');
		 	window.location.href = link;
		});

        $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
            if (e.target.hash == '#home') {
                console.log('home');
                tableMainDataTable.columns.adjust().draw()
            }
            if (e.target.hash == '#menu1') {
                console.log('menu1');
                tableMain2DataTable.columns.adjust().draw()
            }
        })
        $( document ).on("click", ".checkbox-client-id", function(){
            console.log($(this).is(':checked'))

            console.log($(this).val())
            let client_id = $(this).val();
            if ($(this).is(':checked') == true) {
                client_ids.push(client_id)
            }
            else {
                client_ids.splice(client_ids.indexOf(client_id),1);
                
            }
            console.log(client_ids);
        });
        $( document ).on("click", ".client-delete-single-btn", function(){
            console.log($(this).is(':checked'))

            client_ids = []
            let client_id = $(this).data('client_id');
            client_ids.push(client_id);
            $('#delete-data-modal').modal('show');
            
        });


	});

	$("#search_input").on("keyup", function() {
		  var value = this.value.toLowerCase().trim();
		  $(".media-list li").show().filter(function() {
		    return $(this).text().toLowerCase().trim().indexOf(value) == -1;
		  }).hide();
		});
</script>
{% endblock content %}