
{% extends 'base/head.html' %}
{% block content %}

<div class="row">
	<!-- Typeahead -->
	<p class="card_cus_head">Client List</p>
	<div class="card col-12">
		<div class="card-header">
			<h5 class="card-title">Client List</h5>
		</div>

		<div class="card-body">
			<!-- <p class="mb-4">Table dibawah ini berupa list seluruh unit dari organization JADDI</p> -->
			<div class="btn-group mr-lg-3 mb-3">
				<a href="{% url 'client-add' %}"><button type="button" class="btn btn-light"><i class="icon-diff-added"></i> <span class="d-none d-lg-inline-block ml-2">Add Client</span></button></a>
			</div>
			<div class="row ">
				<div class="col-12">

					<table class="table">
					  <thead>
					    <tr>
					      <th scope="col">#</th>
					      <th scope="col">Nama</th>
					      <th scope="col">Umur</th>
					      <th scope="col">Gender</th>
					      <th scope="col">Pekerjaan</th>
					      <th scope="col">Domisili</th>
					      <th scope="col" class="text-center">Detail</th>
					      <th scope="col" class="text-center">Followup</th>
					      <th scope="col" class="text-center">Action</th>
					    </tr>
					  </thead>
					  <tbody>
					  	{% for client in client_list %}
							<tr>
						      <td scope="row">{{forloop.counter}}</td>
						      <td scope="row">{{client.nama}}</td>
						      <td scope="row">{{client.umur}}</td>
						      <td scope="row">{{client.gender}}</td>
						      <td scope="row">{{client.pekerjaan}}</td>
						      <td scope="row">{{client.domisili}}</td>
						      <td scope="row" class="text-center">
						      	<a href="{% url 'client-detail-list' client.id %}"><i class="icon-file-eye"></i></a>
						      </td>
						      <td scope="row" class="text-center">
						      	<a href="{% url 'client-followup-list' client.id %}"><i class="icon-clipboard2"></i></a>
						      </td>
						      <td class="text-center">
									<div class="list-icons">
										<div class="dropdown">
											<a href="#" class="list-icons-item" data-toggle="dropdown">
												<i class="icon-menu9"></i>
											</a>

											<div class="dropdown-menu dropdown-menu-right">
												<a href="{% url 'client-edit' client.id %}" class="dropdown-item"><i class="icon-pencil7"></i> Edit</a>
												<a href="{% url 'client-delete' client.id %}" class="dropdown-item"><i class="icon-trash"></i> Delete</a>
											</div>
										</div>
									</div>
								</td>
						    </tr>
						{% endfor %}
					    
					    
					  </tbody>
					</table>

					

					

					
				</div>

			</div>
		</div>

	</div>
	<!-- /typeahead -->
</div>
<!-- Mini modal -->
<div id="modal_mini" class="modal fade" tabindex="-1">
	<div class="modal-dialog modal-xs">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Pick Color</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<div class="modal-body">
				<!-- <h6 class="font-weight-semibold">Text in a modal</h6> -->
				<input type="color" class="form-control"  name="client-color" id="client-color">
				
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" id="color-button-save">Save changes</button>
			</div>
		</div>
	</div>
</div>
<!-- /mini modal -->
<script type="text/javascript">
	$(function() {
		$(".table-row").click(function() {
		 	var link = $(this).data('href');
		 	window.location.href = link;
		});

	});
</script>
{% endblock content %}