
{% extends 'base/head.html' %}

{% block content %}
{% load core_extras %}
<div class="row">
	<!-- Typeahead -->
	<div class="card col-12 card_cus">
		<div class="card-header">
			<h5 class="card-title">Import Client Data</h5>
		</div>

		<div class="card-body">
			<div class="row">
				<div class="col-12">
					<form method="POST" id="main-form" enctype="multipart/form-data"> 
						{% csrf_token %}
						<div class="mb-4">
							<h6 class="font-weight-semibold">File Upload</h6>
							{{import_form.file | add_class:"form-control"}}
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
							
					</form>
					
				</div>

			</div>
		</div>
	</div>
	<!-- /typeahead -->
</div>
<script type="text/javascript">
	$( document ).ready(function() {
	    $('#id_birthday').pickadate(
		    {
		    	formatSubmit: 'yyyy-mm-dd',
		    }
    	);
	});
	var submited = 0

	$("#main-form").submit(function(e){
        e.preventDefault();

        if (submited == 0){
            submited = 1
            this.submit();    
        }
        
    });

</script>
{% endblock content %}