
{% extends 'base/head.html' %}

{% block content %}


<div class="row">
	<!-- Typeahead -->
	<div class="card col-12 card_cus">
		
	<div class="card-header">
		<h5 class="card-title">Client Followup List</h5>
	</div>

	<div class="card-body">
		<!-- <p class="mb-4">Table dibawah ini berupa list seluruh unit dari organization JADDI</p> -->
		<div class="btn-group mr-lg-3 mb-3">
			<a href="{% url 'followup-form' id_client %}"><button type="Staff" class="btn btn-light"><i class="icon-diff-added"></i> <span class="d-none d-lg-inline-block ml-2">Add Followup Client</span></button></a>
		</div>
		<div class="row">
				<div class="col-12">

					<table class="table ">
					  <thead>
					    <tr>
					      <th scope="col">#</th>
					      <th scope="col">Client</th>
					      <th scope="col">Followup</th>
					      <th scope="col" class="text-center">Action</th>
					    </tr>
					  </thead>
					  <tbody>
					  	{% for client in client_followup_list %}
							<tr >
						      <td scope="row">{{forloop.counter}}</td>
						      <td scope="row">{{client.client}}</td>
						      <td scope="row">{{client.followup}}</td>
						      
						      <td class="text-center">
									<div class="list-icons">
										<div class="dropdown">
											<a href="#" class="list-icons-item" data-toggle="dropdown">
												<i class="icon-menu9"></i>
											</a>

											<div class="dropdown-menu dropdown-menu-right">
												<a href="{% url 'followup-form-delete' client.client.id client.id %}" class="dropdown-item"><i class="icon-trash"></i> Delete</a>
											</div>
										</div>
									</div>
								</td>
						    </tr>
						{% endfor %}
					    
					    
					  </tbody>
					</table>

					

					

					
				</div>

			</div>
		</div>
	</div>
	<!-- /typeahead -->
</div>
<script type="text/javascript">
	$(function() {
		
		$(".table-row").click(function() {
		 	var link = $(this).data('href');
		 	window.location.href = link;
		});

	});
</script>
{% endblock content %}