
{% extends 'base/head.html' %}

{% block content %}
{% load core_extras %}
<div class="row">
	<!-- Typeahead -->
	<div class="card col-12">
		<div class="card-header">
			<h5 class="card-title">New Client Data</h5>
		</div>

		<div class="card-body">
			<div class="row">
				<div class="col-12">
					<form method="POST" id="main-form"> 
						{% csrf_token %}
						<div class="mb-4">
							<h6 class="font-weight-semibold">Nama</h6>
							{{client_form.nama | add_class:"form-control"}}
						</div>
						<div class="mb-4">
							<h6 class="font-weight-semibold">Nomor Telepon</h6>
							{{client_form.phone_no | add_class:"form-control"}}
						</div>
						<div class="mb-4">
							<h6 class="font-weight-semibold">Email</h6>
							{{client_form.email | add_class:"form-control"}}
						</div>
						<div class="mb-4">
							<h6 class="font-weight-semibold">Umur</h6>
							{{client_form.umur | add_class:"form-control"}}
						</div>
						<div class="mb-4">
							<h6 class="font-weight-semibold">Jenis Kelamin</h6>
							{{client_form.gender | add_class:"form-control"}}
						</div>
						<div class="mb-4">
							<h6 class="font-weight-semibold">Pekerjaan</h6>
							{{client_form.pekerjaan | add_class:"form-control"}}
						</div>
						<div class="mb-4">
							<h6 class="font-weight-semibold">Domisili</h6>
							{{client_form.domisili | add_class:"form-control"}}
						</div>
						<div class="mb-4">
							<h6 class="font-weight-semibold">Tanggal Ulang Tahun</h6>
							{{client_form.birthday | add_class:"form-control"}}
						</div>
						{% if request.user|full_menu %}
						<div class="mb-4">
							<h6 class="font-weight-semibold">Source</h6>
							{{client_form.source | add_class:"form-control"}}
						</div>
						{% endif %}
						<div class="mb-4">
							<h6 class="font-weight-semibold">Source 1</h6>
							{{client_form.source_detail_1 | add_class:"form-control"}}
						</div>
						<div class="mb-4">
							<h6 class="font-weight-semibold">Source 2</h6>
							{{client_form.source_detail_2 | add_class:"form-control"}}
						</div>
						<div class="mb-4">
							<h6 class="font-weight-semibold">AECODE</h6>
							{{client_form.aecode | add_class:"form-control"}}
						</div>

						<button type="submit" class="btn btn-primary">Submit</button>
							
					</form>
					
				</div>

			</div>
		</div>
	</div>
	<!-- /typeahead -->
</div>
<script type="text/javascript">
	$( document ).ready(function() {

		let source_array = [];
		source_array['0'] = ['0','1','2','3'];
		source_array['1'] = ['4', '5'];
		source_array['2'] = [];
		let source_array_1 = [];
		source_array_1['0'] = ['0', '1']
		source_array_1['1'] = ['2', '3', '4', '5']
		source_array_1['2'] = []
		source_array_1['3'] = []

		$('#id_source_detail_1')

	    $('#id_birthday').datepicker({ format: "yyyy-mm-dd" }).val();
	    $('#id_source').change(function(){
	    	let source_index = $(this).val();
	    	$("#id_source_detail_1 > option").each(function() {

	    		if(this.value == '') {
	    			
	    		}
	    		else {
	    			let loop_value = this.value;
	    			if(source_array[source_index].includes(loop_value)) {
	    				console.log('-0---');
						console.log(this.text + ' ' + this.value);
						$(this).show();
	    			}
	    			else {
	    				$(this).hide();
	    			}
	    		}
	    		console.log($(this))
	    		

				
			});
	    });
	    $('#id_source_detail_1').change(function(){
	    	let source_index = $(this).val();
	    	$("#id_source_detail_2 > option").each(function() {

	    		if(this.value == '') {
	    			$(this).hide();
	    		}
	    		else {
	    			let loop_value = this.value;
	    			if(source_array_1[source_index].includes(loop_value)) {
	    				console.log('-0---');
						console.log(this.text + ' ' + this.value);
						$(this).show();
	    			}
	    			else {
	    				$(this).hide();
	    			}
	    		}
	    		console.log($(this))
	    		

				
			});
	    });
	});
	var submited = 0

	$("#main-form").submit(function(e){
        e.preventDefault();

        if (submited == 0){
            submited = 1
            this.submit();    
        }
        
    });

</script>
{% endblock content %}