
{% extends 'base/head.html' %}
{% load core_extras %}
{% block content %}

<style type="text/css">
	#table_followup tr{
		height: 80px
	}

	#table_schedule tr{
		height: 80px
	}
	.gadget_green{
        white-space: nowrap;background-color: #e8f5eb;border-radius: 10px;position: relative;   
    }
</style>
<div class="row">
	<!-- Typeahead -->
	<div class="card col-12">
		
	<div class="card-header">
		<h5 class="card-title">Client Detail & Info</h5>
	</div>


	<div class="card-body">
		{% if client_position_list|length > 0 or client.is_deposit %}
		<div class="row">
			<dir class="col-12" style="text-align: right;">
				<a href="{% url 'client-position-history' client.id %}">
					<button class="btn green-btn">Client History</button>
				</a>
				<!-- <a href="{% url 'client-position' client.id %}">
					<button class="btn green-btn">Client Position</button>
				</a> -->
			</dir>
		</div>	
		{% endif %}
		<div class="row">


			<div class="col-12">
				<div class="row mb-3" style="line-height: 1">
                        <div class="col py-2 px-3 " >
                            <div style="display: inline-block;" class="mr-3 gadget_green p-3">
                                <h1 class="p-0 m-0" style="color:green;font-size: 2.5em;line-height:1">
                                		
                                		{{client_eq_bal|dict_get:'balance'|str_currency|default:"-"}}
                                	
                            </h1>
                                <p class="mb-0">Current Balance</p>
                            </div>

                            <div style="display: inline-block;" class="mr-3 gadget_green p-3">
                                <h1 class="p-0 m-0" style="color:green;font-size: 2.5em;line-height:1">{{client_eq_bal|dict_get:'equity'|str_currency|default:"-"}}</h1>
                                <p class="mb-0">Current Equity</p>
                            </div>
                            <div style="display: inline-block;" class="mr-3 gadget_green p-3">
                                <h1 class="p-0 m-0" style="color:green;font-size: 2.5em;line-height:1">{{client_eq_bal|dict_get:'margin'|str_currency|default:"-"}}</h1>
                                <p class="mb-0">Margin</p>
                            </div>
                            <div style="display: inline-block;" class="mr-3 gadget_green p-3">
                                <h1 class="p-0 m-0" style="color:green;font-size: 2.5em;line-height:1">{{client_eq_bal|dict_get:'margin_free'|str_currency|default:"-"}}</h1>
                                <p class="mb-0">Margin Free</p>
                            </div>
                            <div style="display: inline-block;" class="mr-3 gadget_green p-3">
                                <h1 class="p-0 m-0" style="color:green;font-size: 2.5em;line-height:1">{{client_eq_bal|dict_get:'margin_level'|str_currency|default:"-"}}</h1>
                                <p class="mb-0">Margin Level</p>
                            </div>

                            
                        </div>
                    </div>
			</div>
						<div class="col-12 ">
							

				<h5>Client Position</h5>
					<div class="card p-2" style="">
						<table class="table" id="table_position" style="max-height: 100vh">
						  <thead>
	                            <tr>
	                                <th scope="col">#</th>
	                                <th scope="col">login</th>
	                                <th scope="col">Product</th>
	                                <th scope="col">Symbol</th>
	                                <th scope="col">Pos Buy</th>
	                                <th scope="col">Pos Sell</th>
	                                <th scope="col">Profit Buy</th>
	                                <th scope="col">Profit Sell</th>
	                                <th scope="col">NET</th>
	                                <th scope="col">Time</th>
	                            </tr>
	                        </thead>
						  <tbody>
                            {% for x in client_position_list %}
	                            
	                                <tr>
	                                    <th scope="row">{{forloop.counter}}</th>
	                                    <td>{{x.1}}</td>
	                                    <td scope="row">{{x.2}}</td>
	                                    <td>
	                                       {{x.6}}
	                                    </td>
	                                    <td>
	                                        {{x.8}}
	                                    </td>
	                                    <td>
	                                        {{x.9}}
	                                    </td>
	                                    <td style="{% if x.16 == 0.0 %} {% elif x.16 < 0%} color: red {% else %} color: green {% endif%}">
	                                       {{x.16|str_currency}}
	                                    </td>
	                                    <td style="{% if x.17 == 0.0 %} {% elif x.17 < 0%} color: red {% else %} color: green {% endif%}">
	                                       {{x.17|str_currency}}
	                                    </td>
	                                    <td style="{% if dict_total|dict_get:x.1 == 0.0 %} {% elif dict_total|dict_get:x.1 < 0%} color: red {% else %} color: green {% endif%}">
	                                       {{dict_total|dict_get:x.1|str_currency}}
	                                    </td>
	                                    <td>
	                                       {{x.29}}
	                                    </td>
	                                   


	                                </tr>
	                        {% endfor %}
                        
                            </tbody>
						</table>
					</div>
			</div>
			
			<div class="col-6 ">
				<div class="card p-2" style="overflow: scroll;">
					<table>
						<tbody>
							<tr>
								<td>Name</td>
								<td>:</td>
								<td>{{client.nama|default:"-"}}</td>
							</tr>
							<tr>
								<td>Age</td>
								<td>:</td>
								<td>{{client.umur|default:"-"}}</td>
							</tr>
							<tr>
								<td>Gender</td>
								<td>:</td>
								<td>{{client.gender|default:"-"}}</td>
							</tr>
							<tr>
								<td>Job</td>
								<td>:</td>
								<td>{{client.pekerjaan|default:"-"}}</td>
							</tr>
							<tr>
								<td>Domicile</td>
								<td>:</td>
								<td>{{client.domisili|default:"-"}}</td>
							</tr>
							<tr>
								<td>Phone No</td>
								<td>:</td>
								<td>{{client.phone_no|default:"-"}}</td>
							</tr>
							<tr>
								<td>Email</td>
								<td>:</td>
								<td>{{client.email|default:"-"}}</td>
							</tr>
							<tr>
								<td>Registerd</td>
								<td>:</td>
								<td>
									{% if client.is_registered %}
										<span class="badge badge-success">Registered</span>
									{% else %}
										<span class="badge badge-danger">Not Registered</span>
									{% endif %}
								</td>
							</tr>
							<tr>
								<td>Source</td>
								<td>:</td>
								<td>{{client.source|default:"-"}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-6 ">
				<h5>History Journey</h5>	
				<!-- Top aligned -->
				<div class="card card-body border-top-teal">
					<div class="list-feed">
						{% for journey in history_journey %}
						<div class="list-feed-item">
							<div class="text-muted">{{journey.created_at|date:"d-m-Y H:i"}}</div>
							{{journey.staff.profile.full_name|title}} - {{journey.journal_type|title|default:'-'}}
						</div>
						{% endfor %}
					</div>
				</div>
				<!-- /top aligned -->
			</div>


			

		</div>

		<div class="row" >
			
			<div class="col-12 ">
				<h5>History Followup</h5>
					<div class="card p-2" style="">
				
						<table class="table" id="table_followup" style="max-height: 100vh">
						  <thead>
						    <tr>
						      <th scope="col">#</th>
						      <th scope="col">Nama</th>
						      <th scope="col">Status</th>
						      <th scope="col">Staff</th>
						      <th scope="col">Pesan</th>
						    </tr>
						  </thead>
						  <tbody>
						  	{% for followup in history_followup %}
								<tr>
							      <td scope="row">{{forloop.counter|default:'-'}}</td>
							      <td scope="row">{{followup.client.nama|default:'-'}}</td>
							      <td scope="row">{{followup.followup.followup_choices|default:'-'}}</td>
							      <td scope="row">{{followup.staff.profile.full_name|default:'-'}}</td>
							      <td scope="row">{{followup.answer|default:'-'}}</td>
							    </tr>
							{% endfor %}
						    
						    
						  </tbody>
						</table>
					</div>
			</div>
			
			<div class="col-12 ">
				<h5>History Schedule</h5>
					<div class="card p-2" style=";overflow: scroll">
				
						<table class="table" id="table_schedule">
						  <thead>
						    <tr>
						      <th scope="col">#</th>
						      <th scope="col">Nama</th>
						      <th scope="col">Jadwal</th>
						      <th scope="col">Staff</th>
						      <th scope="col">Tipe Jadwal</th>
						      <th scope="col">Status</th>
						      <th scope="col">Notes</th>
						      <th scope="col">Answer</th>
						    </tr>
						  </thead>
						  <tbody>
						  	{% for followup in history_schedule %}
								<tr>
							      <td scope="row">{{forloop.counter}}</td>
							      <td scope="row">{{followup.client.nama}}</td>
							      <td scope="row">{{followup.schedule_date}}</td>
							      <td scope="row">{{followup.staff.profile.full_name}}</td>
							      <td scope="row">{{followup.schedule_type}}</td>
							      <td scope="row">{{followup.status|default:"-"}}</td>
							      <td scope="row">{{followup.notes|default:"-"}}</td>
							      <td scope="row">{{followup.answer|default:"-"}}</td>
							    </tr>
							{% endfor %}
						    
						    
						  </tbody>
						</table>
					</div>
				</div>

			</div>

		</div>
	</div>
	<!-- /typeahead -->
</div>
<script type="text/javascript">
	$(function() {
		$("#table_schedule").DataTable({
        	dom: '<"datatable-header"fl><"datatable-scroll datatable-scroll-wrap"t><"datatable-footer"ip>',
			language: {
	            search: '<span>Filter:</span> _INPUT_',
	            searchPlaceholder: 'Type to filter...',
	            lengthMenu: '<span>Show:</span> _MENU_',
	        },
	        scrollX: true,
	        // scrollY: '350px',
	        scrollCollapse: true,
	        fixedColumns: {
	            leftColumns: 2,
	            // rightColumns: 1
	        }
        });
        
		$(".table-row").click(function() {
		 	var link = $(this).data('href');
		 	window.location.href = link;
		});
	});
	$("#table_followup").DataTable({
		dom: '<"datatable-header"fl><"datatable-scroll datatable-scroll-wrap"t><"datatable-footer"ip>',
		language: {
            search: '<span>Filter:</span> _INPUT_',
            searchPlaceholder: 'Type to filter...',
            lengthMenu: '<span>Show:</span> _MENU_',
        },
        scrollX: true,
        // scrollY: '350px',
        scrollCollapse: true,
        fixedColumns: {
            leftColumns: 2,
            // rightColumns: 1
        }
    });
</script>
{% endblock content %}