
{% extends 'base/head.html' %}
{% load core_extras %}
{% block content %}
<div class="row">
	<!-- Typeahead -->
	<div class="card col-12 card_cus">
		
		<div class="card-header ">
			<h5 class="card-title">Client Feedback</h5>
			<div class="chart has-fixed-height" id="pie_basic"></div>

			
			<div class="card card-body border-top-info">
				<div class="text-center">
					<h6 class="mb-0 font-weight-semibold">Top 3 Responses:</h6>
				</div>
				
				<div class="border rounded p-3">
                    <ol class="list mb-0">
                    	{% for x in top_3_response %}
							<li><h6 class="mb-0">
					                    <span class="font-weight-semibold">{{x}}<span class="badge badge-success badge-pill align-top ml-2">{{dict_client_res|dict_get:x}}</span>
					                    
				                    </h6></li>
		            	{% endfor %}
					</ol>
				</div>
			</div>
		</div>

		<div class="card-body">
			<!-- <p class="mb-4">Table dibawah ini berupa list seluruh unit dari organization JADDI</p> -->

			<div class="row">
				<!-- <h5>Filter Source</h5> -->
				<!-- <select id="filter_register" class="form-control select-search" data-fouc onchange="client_source_change_register(this)">
                    <option value="">Show all</option>
                    <option value="True">True</option>
                    <option value="False">False</option>
                </select> -->
				<div class="col-12">

					<table class="table" id="table-main">
					  <thead>
					    <tr>
					      <th scope="col">#</th>
					      <th scope="col">Staff</th>
					      <th scope="col">Fullname</th>
					      <th scope="col">Response</th>
					      <th scope="col">Email</th>
					      <!-- <th scope="col">Source</th> -->
					      <th scope="col" class="text-center">Date</th>
					      
					    </tr>
					  </thead>
					  <tbody>
					  	{% for client_feedback in client_feedback_list%}
							<tr>
						      <td scope="row">{{forloop.counter}}</td>
						      <td scope="row">{{client_feedback.staff.profile.full_name}}</td>
						      <td scope="row">{{client_feedback.client.nama}}</td>
						      <td scope="row">{{client_feedback.followup.followup_choices}}</td>
						      <td scope="row">{{client_feedback.client.email}}</td>
						      <!-- <td>
                                    {% if client_feedback.client.source_detail_2 is not None and client_feedback.client.source_detail_2 != '' %}
                                        {{client_feedback.client.get_source_detail_2_display}} 
                                    {% elif client_feedback.client.source_detail_1 is not None and client_feedback.client.source_detail_1 != '' %}
                                        {{client.get_source_detail_1_display}} 
                                    {% else %}
                                        {{client_feedback.client.get_source_display|default:'-'}}
                                    {% endif %} 
                            </td> -->
						      <td scope="row">{{client_feedback.created_at}}</td>
						    </tr>
						{% endfor %}
					    
					    
					  </tbody>
					</table>

					

					

					
				</div>

			</div>
		</div>
	</div>
	<!-- /typeahead -->
</div>


<script type="text/javascript">
	
	var EchartsPieBasicDark = function() {



		    // Basic pie chart
		    var _scatterPieBasicDarkExample = function() {
		        if (typeof echarts == 'undefined') {
		            console.warn('Warning - echarts.min.js is not loaded.');
		            return;
		        }

		        // Define element
		        var pie_basic_element = document.getElementById('pie_basic');


		        //
		        // Charts configuration
		        //

		        if (pie_basic_element) {

		            // Initialize chart
		            var pie_basic = echarts.init(pie_basic_element);


		            //
		            // Chart config
		            //

		            // Options
		            pie_basic.setOption({
		            	// title: {
		             //        text: 'Are you happy?',
		             //        subtext: 'Utrecht, Netherlands',
		             //        left: 'center',
		             //        top: '45%',
		             //        textStyle: {
		             //            color: '#fff',
		             //            fontSize: 19,
		             //            fontWeight: 500
		             //        },
		             //        subtextStyle: {
		             //            fontSize: 12,
		             //            color: '#fff'
		             //        }
		             //    },
	                legend: {
	                    orient: 'vertical',
	                    top: '5%',
	                    // left: (pie_basic.offsetWidth / 2) + 20,
	                    data: ['60% Definitely yes','30% Could be better','10% Not at the moment'],
	                    itemHeight: 8,
	                    itemWidth: 8,
	                    itemGap: 15,
	                    textStyle: {
	                        color: '#000000'
	                    }
	                },

		                // Colors
		                color: [
		                    '#2ec7c9','#b6a2de','#5ab1ef','#ffb980','#d87a80',
		                    '#8d98b3','#e5cf0d','#97b552','#95706d','#dc69aa',
		                    '#07a2a4','#9a7fd1','#588dd5','#f5994e','#c05050',
		                    '#59678c','#c9ab00','#7eb00a','#6f5553','#c14089',
		                    '#66bb6a'
		                ],

		                // Global text styles
		                textStyle: {
		                    fontFamily: 'Roboto, Arial, Verdana, sans-serif',
		                    fontSize: 13
		                },

		                // // Add title
		                // title: {
		                //     text: 'Browser popularity',
		                //     subtext: 'Open source information',
		                //     left: 'center',
		                //     textStyle: {
		                //         fontSize: 17,
		                //         fontWeight: 500,
		                //         color: '#fff'
		                //     },
		                //     subtextStyle: {
		                //         fontSize: 12,
		                //         color: '#fff'
		                //     }
		                // },

		                // Add tooltip

		                tooltip: {
		                    trigger: 'item',
		                    backgroundColor: 'rgba(255,255,255,0.9)',
		                    padding: [10, 15],
		                    textStyle: {
		                        color: '#222',
		                        fontSize: 13,
		                        fontFamily: 'Roboto, sans-serif'
		                    },
		                    formatter: "{a} <br/>{b}: {c} ({d}%)"
		                },

		                // // Add legend
		                // legend: {
		                //     orient: 'vertical',
		                //     top: 'center',
		                //     left: 0,
		                //     data: ['IE', 'Opera', 'Safari', 'Firefox', 'Chrome'],
		                //     itemHeight: 8,
		                //     itemWidth: 8,
		                //     textStyle: {
		                //         color: '#fff'
		                //     }
		                // },

		                // Add series
		                series: [{
		                    name: 'Feedback',
		                    type: 'pie',
		                    radius: '50%',
		                    center: ['50%', '57.5%'],
		                    itemStyle: {
		                    	
		                        normal: {
		                            borderWidth: 2,
		                            borderColor: '#353f53'
		                        }
		                    },
		                    data: [
		                    	{% for x in dict_client_res %}
		                    		{value: {{dict_client_res|dict_get:x}}, name: "{{x}}"},	
		                    	{% endfor %}
		                        
		                        
		                    ]
		                }]
		            });
		        }


		        //
		        // Resize charts
		        //

		        // Resize function
		        var triggerChartResize = function() {
		            pie_basic_element && pie_basic.resize();
		        };

		        // On sidebar width change
		        var sidebarToggle = document.querySelectorAll('.sidebar-control');
		        if (sidebarToggle) {
		            sidebarToggle.forEach(function(togglers) {
		                togglers.addEventListener('click', triggerChartResize);
		            });
		        }

		        // On window resize
		        var resizeCharts;
		        window.addEventListener('resize', function() {
		            clearTimeout(resizeCharts);
		            resizeCharts = setTimeout(function () {
		                triggerChartResize();
		            }, 200);
		        });
		    };

		    return {
		        init: function() {
		            _scatterPieBasicDarkExample();
		        }
		    }
	}();
	EchartsPieBasicDark.init();

	
    $(function() {
		$("#table-main").DataTable({
	    	dom: '<"datatable-header"fl><"datatable-scroll datatable-scroll-wrap"t><"datatable-footer"ip>',
			language: {
	            search: '<span>Filter:</span> _INPUT_',
	            searchPlaceholder: 'Type to filter...',
	            lengthMenu: '<span>Show:</span> _MENU_',
	        },
	        scrollX: true,
	        // scrollY: '350px',
	        scrollCollapse: true,
	        fixedColumns: {
	            leftColumns: 2,
	            // rightColumns: 1
	        }
	    });

	});

	$(".table-row").click(function() {
	 	var link = $(this).data('href');
	 	window.location.href = link;
	});

</script>
{% endblock content %}