
{% extends 'base/head.html' %}

{% block content %}
<div class="row">
	<!-- Typeahead -->
	<div class="card col-12 card_cus">
		<div class="card-header">
			<h5 class="card-title pb-2">Client Suspect List </h5>
			<select class="form-control" onchange="change_filter()" id="suspect_filter" style="max-width: 200px;">
			  <option {% if request.GET.month == '' %} selected {% endif %} value="">Month Select</option>
			  <option {% if request.GET.month == '1' %} selected {% endif %} value="1">January</option>
			  <option {% if request.GET.month == '2' %} selected {% endif %} value="2">February</option>
			  <option {% if request.GET.month == '3' %} selected {% endif %} value="3">March</option>
			  <option {% if request.GET.month == '4' %} selected {% endif %} value="4">April</option>
			  <option {% if request.GET.month == '5' %} selected {% endif %} value="5">May</option>
			  <option {% if request.GET.month == '6' %} selected {% endif %} value="6">June</option>
			  <option {% if request.GET.month == '7' %} selected {% endif %} value="7">July</option>
			  <option {% if request.GET.month == '8' %} selected {% endif %} value="8">August</option>
			  <option {% if request.GET.month == '9' %} selected {% endif %} value="9">Sept</option>
			  <option {% if request.GET.month == '10' %} selected {% endif %} value="10">October</option>
			  <option {% if request.GET.month == '11' %} selected {% endif %} value="11">November</option>
			  <option {% if request.GET.month == '12' %} selected {% endif %} value="12">December</option>
			</select>

		</div>

		<div class="card-body">
			<!-- <p class="mb-4">Table dibawah ini berupa list seluruh unit dari organization JADDI</p> -->
			<div class="btn-group mr-lg-3 mb-3">
				<a href="{% url 'client-suspect-history-list' %}"><button type="button" class="btn btn-light"><span class="d-none d-lg-inline-block ">History Suspect</span></button></a>
			</div>
			<div class="row ">
				<div class="col-12">

					<table class="table" id="table-main">
					  <thead>
					    <tr>
					      <th scope="col">#</th>
					      <th scope="col">Nama</th>
					      <!-- <th scope="col">Color</th> -->
					      <th scope="col">Umur</th>
					      <th scope="col">Gender</th>
					      <th scope="col">Pekerjaan</th>
					      <th scope="col">Domisili</th>
					      <th scope="col" class="text-center">Detail</th>
					      <th scope="col" class="text-center">Action</th>
					    </tr>
					  </thead>
					  <tbody>
					  	{% for client in client_list %}
					  		
							<tr>
						      <td scope="row">{{forloop.counter}}</td>
						      <td>
						      	<span style="display: inline-block;" >{{client.client_new.nama}}</span>
						      </td>
						      <td scope="row">{{client.client_new.umur|default:'-'}}</td>
						      <td scope="row">{{client.client_new.gender|default:'-'}}</td>
						      <td scope="row">{{client.client_new.pekerjaan|default:'-'}}</td>
						      <td scope="row">{{client.client_new.domisili|default:'-'}}</td>
						      <td scope="row" class="text-center">
						      	<a href="{% url 'client-suspect-detail' client.id %}"><i class="icon-file-eye"></i></a>
						      </td>
						      <td class="text-center">
									<div class="list-icons">
										<div class="dropdown">
											<a href="#" class="list-icons-item" data-toggle="dropdown">
												<i class="icon-menu9"></i>
											</a>

											<div class="dropdown-menu dropdown-menu-right">
												<a href="{% url 'client-edit' client.client_new.id %}" class="dropdown-item"><i class="icon-pencil7"></i> Edit</a>
												<!-- <span data-toggle="modal" data-target="#modal_mini" class="dropdown-item change-color-button" data-client_id="{{client.client_new.id}}"><i class="icon-pencil7"></i> Edit Color</span>

												<a href="{% url 'client-delete' client.client_new.id %}" class="dropdown-item"><i class="icon-trash"></i> Delete</a> -->
											</div>
										</div>
									</div>
								</td>
						    </tr>
						{% endfor %}
					    
					    
					  </tbody>
					</table>

					

					

					
				</div>

			</div>
		</div>

	</div>
	<!-- /typeahead -->
</div>
<!-- Mini modal -->
<div id="modal_mini" class="modal fade" tabindex="-1">
	<div class="modal-dialog modal-xs">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Pick Color</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<div class="modal-body">
				<!-- <h6 class="font-weight-semibold">Text in a modal</h6> -->
				<input type="color" class="form-control"  name="client-color" id="client-color">
				
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" id="color-button-save">Save changes</button>
			</div>
		</div>
	</div>
</div>
<!-- /mini modal -->
<script type="text/javascript">
	

	$(function() {
		var client_id = '';
		$('.change-color-button').click(function(){
			client_id = $(this).data('client_id');
			console.log(client_id)

		});
		// $('#client-color').colorpicker();
		$('#color-button-save').click(function(){
			console.log(123);
			var color_value = $('#client-color').val()
			color_value = color_value.replace('#', '')
			var string_color_url = "{% url 'client-edit-color' 0 '!99' %}";
			string_color_url = string_color_url.replace(0, client_id)
			string_color_url = string_color_url.replace('!99', color_value)
			console.log(string_color_url);
			window.location.href = string_color_url;

		});
		$(".table-row").click(function() {
		 	var link = $(this).data('href');
		 	window.location.href = link;
		});
		$("#table-main").DataTable({
	    	dom: '<"datatable-header"fl><"datatable-scroll datatable-scroll-wrap"t><"datatable-footer"ip>',
			language: {
	            search: '<span>Filter:</span> _INPUT_',
	            searchPlaceholder: 'Type to filter...',
	            lengthMenu: '<span>Show:</span> _MENU_',
	        },
	        scrollX: true,
	        // scrollY: '350px',
	        scrollCollapse: true,
	        fixedColumns: {
	            leftColumns: 2,
	            // rightColumns: 1
	        }
	    });

	});


	function change_filter(){
		var id = $("#suspect_filter").val();
		window.location = "{% url 'client-suspect-list' %}"+"?month="+id
	}
</script>
{% endblock content %}