
{% extends 'base/head.html' %}
{% load core_extras %}
{% block content %}

<style type="text/css">
	#table_followup tr{
		height: 80px
	}

	#table_schedule tr{
		height: 80px
	}
	.gadget_green{
        white-space: nowrap;background-color: #e8f5eb;border-radius: 10px;position: relative;   
    }
</style>
<div class="row">
	<!-- Typeahead -->
	<div class="card col-12">
		
	<div class="card-header">
		<h5 class="card-title">Client Detail & Info</h5>
	</div>

	<div class="card-body">
		<div class="row">
			<dir class="col" >
				IB : {{ib_staff.ib}}<br>
				IB Staff : {{ib_staff.staff}}<br>
				IB Staff Supervisor : {{ib_staff.staff.staff_parent}}<br>
			</dir>
			<dir class="col text-right" >
				<a class="btn btn-success" id="download-btn">Export</a>
			</dir>
		</div>	
		<form method="POST" id="export_form">
			{% csrf_token %}
			<input hidden id="download_param" name="download_excel" value="0"> 
		</form>

		<div class="row">
			<div class="col">
                <h5 class="p-0 m-0">Date</h5>
                <div class='input-group date datepicker' id='date-pick-from' onchange="change_filter()">
                  <input type='text' name="tgl" id="date-from-val" class="form-control" value="{{request.GET.date}}" />
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
            </div>
		</div>
		<div class="row">

			
			{{account_type_dict}}

			<div class="col-12 ">
				

				<div class="row mb-3" style="line-height: 1">
                        <div class="col-12 py-2 px-3 " >

                        	{% for x in dict_bonus_info %}
	                        	{% if "magneto" in x %}
									<div style="display: inline-block;" class="mr-3 gadget_green p-3">
		                                <h1 class="p-0 m-0" style="color:green;font-size: 2.5em;line-height:1">{{dict_bonus_info|dict_get:x|dict_get:'bonus'}}</h1>
		                                <p class="mb-0">{{x|cus_split:"_,0"}} ({{x|cus_split:"_,1"}})</p>
		                            </div>
	                            {% endif %}
							{% endfor %}
							<div style="display: inline-block;" class="mr-3 gadget_green p-3">
                                <h1 class="p-0 m-0" style="color:green;font-size: 2.5em;line-height:1">{{total_bonus_dict|dict_get:'magneto'}}</h1>
                                <p class="mb-0">Total Bonus</p>
                            </div>

                            
                    	</div>    	

                    	<div class="col-12 py-2 px-3 " >

                        	{% for x in dict_bonus_info %}
	                        	{% if "elektro" in x %}
									<div style="display: inline-block;" class="mr-3 gadget_green p-3">
		                                <h1 class="p-0 m-0" style="color:green;font-size: 2.5em;line-height:1">{{dict_bonus_info|dict_get:x|dict_get:'bonus'}}</h1>
		                                <p class="mb-0">{{x|cus_split:"_,0"}} ({{x|cus_split:"_,1"}})</p>
		                            </div>
	                            {% endif %}

							{% endfor %}

							<div style="display: inline-block;" class="mr-3 gadget_green p-3">
                                <h1 class="p-0 m-0" style="color:green;font-size: 2.5em;line-height:1">{{total_bonus_dict|dict_get:'elektro'}}</h1>
                                <p class="mb-0">Total Bonus</p>
                            </div>
                            
                    	</div>    	

                    	<div class="col-12 py-2 px-3 " >

                        	{% for x in dict_bonus_info %}
	                        	{% if "elastico" in x %}
									<div style="display: inline-block;" class="mr-3 gadget_green p-3">
		                                <h1 class="p-0 m-0" style="color:green;font-size: 2.5em;line-height:1">{{dict_bonus_info|dict_get:x|dict_get:'bonus'}}</h1>
		                                <p class="mb-0">{{x|cus_split:"_,0"}} ({{x|cus_split:"_,1"}})</p>
		                            </div>
	                            {% endif %}

							{% endfor %}

							<div style="display: inline-block;" class="mr-3 gadget_green p-3">
                                <h1 class="p-0 m-0" style="color:green;font-size: 2.5em;line-height:1">{{total_bonus_dict|dict_get:'elastico'}}</h1>
                                <p class="mb-0">Total Bonus</p>
                            </div>

                            
                    	</div>    	

                    	   	
				</div>

				<h5>BONUS FTD</h5>
					<div class="card p-2" style="">

						<table class="table" id="table_position" style="max-height: 100vh">
						  <thead>
	                            <tr>
	                                <th scope="col">#</th>
	                                <th scope="col">Name</th>
	                                <th scope="col">userid</th>
	                                <th scope="col">login</th>
	                                <th scope="col">ftd</th>
	                                <th scope="col">time</th>
	                            </tr>
	                        </thead>
						  <tbody>
                            {% for x in all_so %}
	                            
	                                <tr>
	                                    <th scope="row">{{forloop.counter}}</th>
	                                    <th scope="row">{{client_dict|dict_get:x.userid}}</th>
	                                    <th scope="row">{{x.userid}}</th>
	                                    <td>
	                                       {{x.login}}
	                                    </td>
	                                    <td>
	                                        {{x.ftd}}
	                                    </td>
	                                    <td>
	                                        {{x.time}}
	                                    </td>
	                                </tr>
	                        {% endfor %}
                        
                            </tbody>
						</table>
					</div>
			</div>


		

			

		</div>

	</div>
	<!-- /typeahead -->
</div>
<script type="text/javascript">
	
	function change_filter(){
        from = $("#date-from-val").val()
        window.location = "{% url 'ib-report' ib.uid %}"+"?date="+from
    }
	$("#date-pick-from").datepicker( {
		    format: "mm-yyyy",
		    startView: "months", 
		    minViewMode: "months"
		});

	$("#table_position").DataTable({
		dom: '<"datatable-header"fl><"datatable-scroll datatable-scroll-wrap"t><"datatable-footer"ip>',
		language: {
            search: '<span>Filter:</span> _INPUT_',
            searchPlaceholder: 'Type to filter...',
            lengthMenu: '<span>Show:</span> _MENU_',
        },
        scrollX: true,
        // scrollY: '350px',
        scrollCollapse: true,
        fixedColumns: {
            leftColumns: 2,
            // rightColumns: 1
        }
    });

    $("#table_bonus").DataTable({
		dom: '<"datatable-header"fl><"datatable-scroll datatable-scroll-wrap"t><"datatable-footer"ip>',
		language: {
            search: '<span>Filter:</span> _INPUT_',
            searchPlaceholder: 'Type to filter...',
            lengthMenu: '<span>Show:</span> _MENU_',
        },
        scrollX: true,
        // scrollY: '350px',
        scrollCollapse: true,
        fixedColumns: {
            leftColumns: 2,
            // rightColumns: 1
        }
    });

    $("#table_bonus_pribadi").DataTable({
		dom: '<"datatable-header"fl><"datatable-scroll datatable-scroll-wrap"t><"datatable-footer"ip>',
		language: {
            search: '<span>Filter:</span> _INPUT_',
            searchPlaceholder: 'Type to filter...',
            lengthMenu: '<span>Show:</span> _MENU_',
        },
        scrollX: true,
        // scrollY: '350px',
        scrollCollapse: true,
        fixedColumns: {
            leftColumns: 2,
            // rightColumns: 1
        }
    });

    $("#table_bonus_2").DataTable({
		dom: '<"datatable-header"fl><"datatable-scroll datatable-scroll-wrap"t><"datatable-footer"ip>',
		language: {
            search: '<span>Filter:</span> _INPUT_',
            searchPlaceholder: 'Type to filter...',
            lengthMenu: '<span>Show:</span> _MENU_',
        },
        scrollX: true,
        // scrollY: '350px',
        scrollCollapse: true,
        fixedColumns: {
            leftColumns: 2,
            // rightColumns: 1
        }
    });
</script>
{% endblock content %}