
{% extends 'base/head.html' %}
{% block content %}
{% load static %}
{% load core_extras %}
<style type="text/css">
    
</style>
<script src="{% static 'limitless/global_assets/js/plugins/ui/fullcalendar/main.min.js' %}"></script>
<div class="card-header">
</div>
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Content area -->
                <div class="content d-flex justify-content-center align-items-center">

                    <!-- Login form -->
                    <form class="login-form" action="" method="POST" enctype="multipart/form-data" id="change_password_form">
                        {% csrf_token %}
                        <div class="card mb-0" style="border-radius: 15px">
                            <div class="card-body">
                                <div class="text-center mb-3">
                                    <!-- <i class="icon-reading icon-2x text-secondary border-secondary-100 border-3 rounded-pill p-3 mb-3 mt-1"></i> -->
                                    <img src="{% static 'magnet/images/magnet.png' %}" class="img-fluid">
                                    <h5 class="mb-0"> <b>Change Password</b></h5>
                                </div>


                                <div class="form-group form-group-feedback form-group-feedback-left">
                                    <!-- <input type="password" cass="form-control" placeholder="Password" name="password"> -->
                                    {{ form.new_password |add_class:"form-control border_input mb-3" }}
                                    <div class="form-control-feedback">
                                        <i class="icon-lock2 text-muted"></i>
                                    </div>
                                </div>

                                <div class="form-group form-group-feedback form-group-feedback-left">
                                    <!-- <input type="password" class="form-control" placeholder="Password" name="password"> -->
                                    {{ form.confirm_password |add_class:"form-control border_input mb-3" }}
                                    <div class="form-control-feedback">
                                        <i class="icon-lock2 text-muted"></i>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <button id="change-password-btn" type="button" class="btn btn-primary btn-block">Confirm</button>
                                </div>

                                <!-- <span class="form-text text-center text-muted">By continuing, you're confirming that you've read our <a href="#">Terms &amp; Conditions</a> and <a href="#">Cookie Policy</a></span> -->
                            </div>
                        </div>
                    </form>
                    <!-- /login form -->

                </div>
                <!-- /content area -->


            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->


    </div>

<script type="text/javascript"> 
$('#change-password-btn').click(function(){

    var password = $('#id_new_password').val();
    var confirm_password = $('#id_new_password').val();

    console.log(123)

    if(password == confirm_password){
        $( "#change_password_form" ).submit();
    }    
});

</script>
{% endblock content %}

                            
                        