
{% extends 'base/head.html' %}
{% block content %}
{% load static %}
{% load core_extras %}
<style type="text/css">
    
</style>
<script src="{% static 'limitless/global_assets/js/plugins/ui/fullcalendar/main.min.js' %}"></script>
<div class="row">
    <!-- Typeahead -->
    <div class="card col-12">
        <div class="card-header">
            <h5 class="card-title">Dashboard</h5>
        </div>

        <div class="card-body">
            <form method="POST"  id="main-form" >  
                {% csrf_token %}
                    
                
<!-- 
                <p onclick="select_all()">Select all</p>
                <p onclick="deselect_all()">DeSelect all</p>
                <p onclick="select_first_x()">select first N rows</p>
                <input type="number" id="last_row"> -->
                <!-- Checkbox selection -->
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Checkbox selection</h5>
                    </div>

                                
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-12">
                                <h5>Staff List</h5>
                                <select id="staff_selection" class="form-control select-search" data-fouc onchange="staff_change(this)">
                                    {% for staff in all_staff %}
                                        <option value="{{staff.uid}}">{{staff.profile.full_name}}</option>
                                    {% endfor %}  
                                </select>
                            </div>
                        </div>
                        <!-- <div class="btn-group mr-lg-3 mb-3">
                            <button onclick="select_all()" type="button" class="btn btn-light text-success"><i class="fas fa-check-double fa-1x"></i><span class="d-none d-lg-inline-block ml-2">Select All </span></button>
                            <button onclick="deselect_all()" type="button" class="btn btn-light text-danger"><i class="fas fa-check-double fa-1x"></i><span class="d-none d-lg-inline-block ml-2">Deselect All </span></button>
                        </div> -->

                        <div class="form-group row">
                            <label class="col-form-label col-lg-2">Select 1 to N Rows</label>
                            <div class="col-lg-10">
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="N Rows" id="last_row">
                                    <span class="input-group-append">
                                        <button class="btn btn-light" type="button" onclick="select_first_x()">Set</button>
                                    </span>
                                </div>
                            </div>
                        </div>


                        <table class="table datatable-select-checkbox">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id='inactivelist' value="checked" /></th>
                                    <th>id</th>
                                    <th>No</th>
                                    <th>First Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for client in all_client %}
                                    <!-- <option value="{{client.id}}" >{{client.nama}} | {% if client.is_registred %} Registered {% else %} Not Registered{% endif %} | {{client.phone_no|default:"-"}} | {{client.email|default:"-"}} </option> -->
                                    <tr>
                                        <td></td>
                                        <td>{{client.id}}</td>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{client.nama}}</td>
                                        
                                    </tr>
                                {% endfor %}  
                                
                                <!-- <tr>
                                    <td></td>
                                    <td>id</td>
                                    <td>Jackelyn</td>
                                </tr> -->
                                <!-- <tr>
                                    <td></td>
                                    <td>id</td>
                                    <td>Aura</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>id</td>
                                    <td>Nathalie</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>id</td>
                                    <td>Sharan</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>id</td>
                                    <td>Maxine</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>id</td>
                                    <td>Sylvia</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>id</td>
                                    <td>Lizzee</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>id</td>
                                    <td>Kennedy</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>id</td>
                                    <td>Chantal</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>id</td>
                                    <td>Delma</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>id</td>
                                    <td>Roland</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>id</td>
                                    <td>Coy</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>id</td>
                                    <td>Maxwell</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>id</td>
                                    <td>Cicely</td>
                                </tr> -->
                            </tbody>
                        </table>

                        <div id="info_div">
                            
                        </div>
                    </div>

                    
                </div>
                <!-- /checkbox selection -->
                <div id="input_container">
                </div>

                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
        </div>
    </div>
    <!-- /typeahead -->
</div>
<script type="text/javascript">

        var dict_changes = new Object();
        var dict_all_staff= new Object();
        var dict_all_client= new Object();

        {% for staff in all_staff %}
            dict_all_staff['{{staff.uid}}'] = '{{staff.profile.full_name}}';
        {% endfor %}
        {% for client in all_client %}
            dict_all_client[{{client.id}}] = '{{client.nama}}';
        {% endfor %}

        $(function() {
            // $(".datatable-select-checkbox").DataTable({
            //     dom: '<"datatable-header"fl><"datatable-scroll datatable-scroll-wrap"t><"datatable-footer"ip>',
            //     language: {
            //         search: '<span>Filter:</span> _INPUT_',
            //         searchPlaceholder: 'Type to filter...',
            //         lengthMenu: '<span>Show:</span> _MENU_',
            //     },
            //     // scrollX: true,
            //     // // scrollY: '350px',
            //     // scrollCollapse: true,
            //     // fixedColumns: {
            //     //     leftColumns: 2,
            //     //     // rightColumns: 1
            //     // }
            // });
            
            // $(".table-row").click(function() {
            //     var link = $(this).data('href');
            //     window.location.href = link;
            // });
            $('#inactivelist').change(function () {
                var checked = $(this).is(':checked'); 

                  if (checked) {
                    select_all()
                  }
                  else{
                    deselect_all()
                  }
             });
            
            $('.datatable-select-checkbox').on( 'select.dt', function ( e, dt, type, indexes ) {
                   var data = dt.rows(indexes).data();
                   
                    
                    if (data.length==1){
                        push_to_dict(data[0][1])
                    }
                    else{
                        $.each(data,function(index,value){
                            push_to_dict(value[1])
                        })
                    }

                    update_info();

                    // dict_changes
            } );
            $('.datatable-select-checkbox').on( 'deselect.dt', function ( e, dt, type, indexes ) {
                   var data = dt.rows(indexes).data();
                    if (data.length==1){
                        remove_from_dict(data[0][1])
                    }
                    else{
                        $.each(data,function(index,value){
                            remove_from_dict(value[1])
                        })
                    }

                    update_info();
            } );
        });


        function push_to_dict(id){
            var selected_staff = $("#staff_selection").val()
            if (selected_staff in dict_changes){
                if (!dict_changes[selected_staff].includes(id)){
                    dict_changes[selected_staff].push(id)
                }
            }
            else{
                dict_changes[selected_staff] = []
                dict_changes[selected_staff].push(id)
            }
            console.log(dict_changes[selected_staff]);
        }

        function remove_from_dict(id){
            if (id != "" && id != null){
                var selected_staff = $("#staff_selection").val()
                if (selected_staff in dict_changes){
                    dict_changes[selected_staff] = $.grep(dict_changes[selected_staff], function(value) {
                      return value != id;
                    });
                }
                console.log(dict_changes[selected_staff]);
            }
        }

        function staff_change(e){
            // mainTable.row.add([null, '.2', '.3']).draw(false);
            // console.log(e.value)
            
            ajax_staff_client()

            // $("#bootstrap-duallistbox-selected-list_").find('option').remove()
            // $('.listbox-dynamic-options').find('option').remove();
            //     $('.listbox-dynamic-options').trigger('bootstrapDualListbox.refresh');
            // 
        }
        function ajax_staff_client(){
            var current_staff = $("#staff_selection").val()

            $.ajax({
                url: "{% url 'client_transfer_staff_ajax' %}",
                type: 'POST',
                dataType: 'json',
                data: {
                    csrfmiddlewaretoken:"{{csrf_token}}",
                    staff_uid: current_staff,
                },
                error: function() {
                    console.log("error")
                },
                success: function(res) {
                    // print(res)
                    console.log(res)
                    if (res.client_list.length != 0){
                        $.each(res.client_list, function( index, value ) {
                            // mainTable.row.add([counter + '.1', counter + '.2', counter + '.3']).draw(false);
                            mainTable.row.add([null, value.id, value.name]).draw(false);
                        });
                    }

                }
            });   

            

        }


        // Checkbox selection
        var mainTable =  $('.datatable-select-checkbox').DataTable({
            dom: '<"datatable-header"fl><"datatable-scroll datatable-scroll-wrap"t><"datatable-footer"ip>',
            language: {
                search: '<span>Filter:</span> _INPUT_',
                searchPlaceholder: 'Type to filter...',
                lengthMenu: '<span>Show:</span> _MENU_',
            },
            columnDefs: [
                
                {
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 0
                },
                { 'visible': false, 'targets': [1] }
            ],
            // select: {
            //     style: 'os',
            //     selector: 'td:first-child'
            // },
            select: {
                style: 'multi'
            },
            order: [[2, 'asc']]
        });

        console.log(mainTable);

        function select_all(){

            mainTable.rows().select();
        }
        function deselect_all(){
            mainTable.rows().deselect();
        }

        function select_first_x(){
            var last_row = $("#last_row").val()
            var temp_arr = []
            for( var x = 0; x < last_row ;x++){
                temp_arr.push(x)
                // row = $(".datatable-select-checkbox").find('tr').eq(x);
                // row.addClass('selected');
            }
            mainTable.rows(temp_arr).select();

        }

        function update_info(){
            $("#info_div").empty()
            $.each(dict_changes,function(index,value){ 
                console.log("ini dict_changes", index)

                $("#info_div").append("<br> Nama staff : <br>"+dict_all_staff[index]+ ", List Client :<br>")
                


                $.each(value, function(index2, value2) {
                    // alert(index2 + " : " + value2);
                    // var indexes = mainTable
                    //       .rows()
                    //       .indexes()
                    //       .filter( function ( value3, index3 ) {
                    //         if (value.includes(value3)){
                    //             var temp_index_collection = []
                    //             temp_index_collection.push(value3)
                    //         }
                    //         return value2 === mainTable.row(value3).data()[1];
                    //       } );
                    // console.log(value2)
                    // console.log(mainTable.columns(1).search(value2).row().index())
                    // var data = mainTable.rows( indexes ).data().toArray();
                      
                    $("#info_div").append(dict_all_client[value2]+",");
                }); 

            });
            
        }

        $("#main-form").submit(function(e){
            e.preventDefault();
            $("#input_container").empty()
            
            $.each(dict_changes,function(index,value){ 
                $("#input_container").append('<input name="staff_uid_'+index+'" value="'+value+'" hidden>')
            });

             this.submit();
        });

</script>
{% endblock content %}

                            
                        