
{% extends 'base/head.html' %}
{% block content %}
{% load static %}
{% load core_extras %}
<style type="text/css">
    
</style>
<script src="{% static 'limitless/global_assets/js/plugins/ui/fullcalendar/main.min.js' %}"></script>
<div class="row">
    <!-- Typeahead -->
    <div class="card col-12">
        <div class="card-header">
            <h5 class="card-title">Dashboard</h5>
        </div>

        <div class="card-body">
            <form method="POST"  id="main-form"> 
                {% csrf_token %}
                <div class="row">
                    <div class="col-12">
                            
                        <div class="row mb-3">
                            <div class="col-6">
                                <!-- <h1>Client List</h1>
                                <select id="client_selection" class="form-control select-search" data-fouc>
                                    {% for client in all_client %}
                                        <option value="{{client.id}}" selected>{{client.nama}}</option>
                                    {% endfor %}  
                                </select> -->
                            </div>
                            <div class="col-6">
                                <h1>Staff List</h1>
                                <select id="staff_selection" class="form-control select-search" data-fouc onchange="staff_change(this)">
                                    {% for staff in all_staff %}
                                        <option value="{{staff.uid}}">{{staff.profile.full_name}}</option>
                                    {% endfor %}  
                                </select>
                            </div>
                        </div>

                        <select id="client_box" multiple="multiple" class="form-control listbox-no-selection" data-fouc onchange="onchange_real_select()">
                            {% for client in all_client %}
                                <option value="{{client.id}}" >{{client.nama}} | {% if client.is_registred %} Registered {% else %} Not Registered{% endif %} | {{client.phone_no|default:"-"}} | {{client.email|default:"-"}} </option>
                            {% endfor %}  
                        </select>

                        <div id="info_div">
                            
                        </div>
                        
                    </div>
                </div>
                    
                <div id="input_container">
                    
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <!-- /typeahead -->
</div>
<script type="text/javascript">


    var dict_changes = new Object();
    var dict_all_client= new Object();
    var dict_ever_ajax = [];

    //buat simpen data id client namanya siapa
    {% for client in all_client %}
        dict_all_client[{{client.id}}] = '{{client.nama}} | {% if client.is_registred %} Registered {% else %} Not Registered{% endif %} | {{client.phone_no|default:"-"}} | {{client.email|default:"-"}}';
    {% endfor %}

    function onchange_real_select(){
        console.log("onchange_real_select")
    }
    $( document ).ready(function() {
        console.log( "ready!" );

        
        $(document).on("click", "#moveall_btn", function(event){
            //Your code   
            $("#bootstrap-duallistbox-nonselected-list_ > option").each(function() {
                console.log(this.text + ' ' + this.value);
                // console.log($('#bootstrap-duallistbox-nonselected-list_ option[value="'+this.value+'"]')[0])
                
                // $('#client_box option[value="'+this.value+'"]').prop('selected', true)
                // $('#client_box').trigger('bootstrapDualListbox.refresh');  
                // [0].click();
                $('#bootstrap-duallistbox-nonselected-list_ option[value="'+this.value+'"]').prop('selected',true).trigger('change');

                var selected_staff = $("#staff_selection").val()
                if (selected_staff in dict_changes){
                    dict_changes[selected_staff].push(this.value)
                }
                else{
                    dict_changes[selected_staff] = []
                    dict_changes[selected_staff].push(this.value)
                }
                update_info()

            });
        });

        $(document).on("click", "#removeall_btn", function(event){
            //Your code   
            $("#bootstrap-duallistbox-selected-list_ > option").each(function() {
                console.log(this.text + ' ' + this.value);

                temp_value = this.value
                
                $('#bootstrap-duallistbox-selected-list_ option[value="'+this.value+'"]').prop('selected',true).trigger('change');

                var selected_staff = $("#staff_selection").val()
                if (selected_staff in dict_changes){

                    // dict_changes[selected_staff].remove(x.value)
                    dict_changes[selected_staff] = $.grep(dict_changes[selected_staff], function(value) {
                        console.log(value, temp_value ,"value, this.value")
                      return value != parseInt(temp_value);
                    });
                }
                
                update_info();

            });
        });

        // $(document).on("click", "#removeall_btn", function(event){
        //     //Your code   
        //     $("#bootstrap-duallistbox-selected-list_ > option").each(function() {
        //         console.log(this.text + ' ' + this.value);
        //     });
        //     $("#bootstrap-duallistbox-nonselected-list_ > option").each(function() {
        //         console.log(this.text + ' ' + this.value);
        //     });
        // });
        // $(document).on("click", "#moveall_btn", function(event){
        //     //Your code   
        //     $("#bootstrap-duallistbox-selected-list_ > option").each(function() {
        //         console.log(this.text + ' ' + this.value);
        //     });
        //     $("#bootstrap-duallistbox-nonselected-list_ > option").each(function() {
        //         console.log(this.text + ' ' + this.value);
        //     });
        // });


        $('.listbox-no-selection').bootstrapDualListbox({
            preserveSelectionOnMove: 'moved',
            moveOnSelect: true
        });    
        
        ajax_staff_client()
        

    });


    function ajax_staff_client(){
        var current_staff = $("#staff_selection").val()

        if (!(dict_ever_ajax.includes(current_staff))){
            $.ajax({
                url: "{% url 'client_transfer_staff_ajax' %}",
                type: 'POST',
                dataType: 'json',
                data: {
                    csrfmiddlewaretoken:"{{csrf_token}}",
                    staff_uid: current_staff,
                },
                error: function() {
                    console.log("error")
                },
                success: function(res) {
                    // print(res)
                    // console.log(res)
                    if (res.client_list.length != 0){
                        $.each(res.client_list, function( index, value ) {
                            
                            var temp_naming = value.name +" | ";
                            if (value.is_registred){
                                temp_naming += "Registered | "
                            }
                            else{
                                temp_naming += "Not registered | "
                            }
                            temp_naming += value.phone_no || "-" +" | ";
                            temp_naming += value.email || "-"

                            $('#client_box').append($('<option>', {
                                value: value.id,
                                text: temp_naming
                            }));
                            // $("#client_box").val(value.id).change();
                            $('#client_box option[value="'+value.id+'"]').prop('selected', true)
                            console.log("add ini",value,"harusnya ke change ke",value.id)



                            dict_all_client[value.id] = temp_naming


                            
                            if (!(dict_ever_ajax.includes(current_staff))){

                                if (current_staff in dict_changes){
                                    dict_changes[current_staff].push(value.id)
                                }
                                else{
                                    dict_changes[current_staff] = []
                                    dict_changes[current_staff].push(value.id)
                                }    

                            }
                            

                        });
                        dict_ever_ajax.push(current_staff)
                        console.log(dict_all_client,"dict_all_client")
                        console.log(dict_ever_ajax,"dict_ever_ajax")
                        $('#client_box').trigger('bootstrapDualListbox.refresh');  
                        update_info()
                    }

                }
            });    
        }
        else{
            $.each(dict_changes[current_staff],function(index,value){ 
                console.log("masuk bawah",value)
                $('#client_box').append($('<option>', {
                    value: value,
                    text: dict_all_client[value]
                }));
                $('#client_box option[value="'+value+'"]').prop('selected', true)
                $('#client_box').trigger('bootstrapDualListbox.refresh');  
            })
        }

        

    }

    $("#main-form").submit(function(e){
        e.preventDefault();
        $("#input_container").empty()
        
        $.each(dict_changes,function(index,value){ 
            $("#input_container").append('<input name="staff_uid_'+index+'" value="'+value+'">')
        });

         this.submit();
    });


    // $('.listbox-no-selection').on("DOMNodeInserted", function() {
    //   alert("asd")
    // });
    

    function staff_change(e){
        // console.log(e.value)
        
        $("#bootstrap-duallistbox-selected-list_ > option").each(function() {
            console.log("value di kotak selected", this.value, this.text)
            console.log("ini mau di removed",$("#client_box").find('option[value='+this.value+']'))
            $("#client_box").find('option[value='+this.value+']').remove();
            $('#bootstrap-duallistbox-selected-list_').find('option').remove();
            $('#client_box').trigger('bootstrapDualListbox.refresh');  
        });
        ajax_staff_client()

        // $("#bootstrap-duallistbox-selected-list_").find('option').remove()
        // $('.listbox-dynamic-options').find('option').remove();
        //     $('.listbox-dynamic-options').trigger('bootstrapDualListbox.refresh');
        // 
    }
    function client_box_left(x){
        console.log("masuk X ",x.value)
        // $("#bootstrap-duallistbox-selected-list_ > option").each(function() {
        //     console.log(this.text + ' ' + this.value);
        // });
        if (x.value != "" && x.value != null){
            var selected_staff = $("#staff_selection").val()
            if (selected_staff in dict_changes){
                dict_changes[selected_staff].push(x.value)
            }
            else{
                dict_changes[selected_staff] = []
                dict_changes[selected_staff].push(x.value)
            }
            console.log(dict_changes[selected_staff]);    
        }
        

        
        
        update_info()
    }
    function client_box_right(x){
        if (x.value != "" && x.value != null){
            var selected_staff = $("#staff_selection").val()
            if (selected_staff in dict_changes){
                // dict_changes[selected_staff].remove(x.value)
                dict_changes[selected_staff] = $.grep(dict_changes[selected_staff], function(value) {
                  return value != x.value;
                });
            }
            console.log(dict_changes[selected_staff]);
        }
        
        update_info();
    }
    
    function update_info(){
        $("#info_div").empty()
        $.each(dict_changes,function(index,value){ 
            console.log("ini dict_changes", index)
            $("#info_div").append("<p> id staff: "+index + " ini value "+ value)
            // $.each(value, function(index2, value2) {
            //     // alert(index2 + " : " + value2);
            //     $("#info_div").append("|| id client: "+value2+"</p><br>")
            // }); 

        });
        
    }

    
</script>
{% endblock content %}

                            
                        