
{% extends 'base/head.html' %}

{% block content %}
{% load core_extras %}
<div class="row">
	<!-- Typeahead -->
	<div class="card col-12">
		<div class="card-header">
			<h5 class="card-title">Add Form Choices </h5>
		</div>

		<div class="card-body">
			<div class="row">
				<div class="col-12">
					<form method="POST"> 
						{% csrf_token %}
						<div class="mb-4">
							<h6 class="font-weight-semibold">Followup choices</h6>
							{{tree_form.followup_choices | add_class:"form-control"}}
						</div>
						<div class="mb-4">
							<h6 class="font-weight-semibold">Button Color</h6>
							<input type="color" value="{% if is_edit %}{{tree.color}}{% else %} #0c83e2 {% endif %}" class="form-control"  name="color" id="color">
						</div>
						<div class="mb-4">
							<h6 class="font-weight-semibold">Text Color</h6>
							<input type="color" value="{% if is_edit %}{{tree.font_color}}{% else %} #ffffff {% endif %}" class="form-control"  name="font_color" id="font-color">
						</div>
						
						<button type="submit" class="btn btn-primary">Submit</button>	
					</form>
					
				</div>

			</div>
		</div>
	</div>
	<!-- /typeahead -->
</div>


{% endblock content %}