
{% extends 'base/head.html' %}

{% block content %}
<div class="row">
	<!-- Typeahead -->
					<div class="card col-12">
						<div class="card-header">
							<div class="row">
								<div class="col">
									<h5 class="card-title">Tree List</h5>	
								</div>
								<div class="col text-right">
									<a href="{% url 'add'  %}?level=" class="btn btn-success">Add New</a>	
								</div>
								
								
							</div>
							
						</div>

						<div class="card-body">
							<div class="row">
								<div class="col-12">

									<table class="table">
									  <thead>
									    <tr>
									      <th scope="col">#</th>
									      <th scope="col">Choices</th>
									      <th scope="col">Detail</th>
									      <th scope="col">Add</th>
									    </tr>
									  </thead>
									  <tbody>
									  	{% for x in all_choices%}
											
											<tr>
										      <th scope="row">{{forloop.counter}}</th>
										      <th scope="row">{{x.followup_choices}}</th>
										      <td><a href="{% url 'list'  %}?level={{x.followup_choice_code}}" class="btn btn-primary">Detail</a></td>
										      <td><a href="{% url 'add'  %}?level={{x.followup_choice_code}}" class="btn btn-primary">Add</a></td>
										    </tr>
										{% endfor %}
									    
									    
									  </tbody>
									</table>

									

									

									
								</div>

							</div>
						</div>
					</div>
					<!-- /typeahead -->
</div>
{% endblock content %}