
{% extends 'base/head.html' %}

{% block content %}
<div class="row">
	<!-- Typeahead -->
	<div class="card col-12">
		<div class="card-header">
			<div class="row">
				<div class="col">
					<h5 class="card-title">Staff level List</h5>	
				</div>
				<div class="col text-right">
					<a href="{% url 'staff-level-add'  %}?level=" class="btn btn-success">Add level</a>	
				</div>
				
				
			</div>
			
		</div>

		<div class="card-body">
			<div class="row">
				<div class="col-12">

					<table class="table">
					  <thead>
					    <tr>
					      <th scope="col">#</th>
					      <th scope="col">Level Name</th>
					      <th scope="col">Jumlah Staff</th>
					    </tr>
					  </thead>
					  <tbody>
					  	{% for staff_level in staff_level_list%}
							<tr>
						      <td scope="row">{{forloop.counter}}</td>
						      <td scope="row">{{staff_level.level_name}}</td>
						      <td scope="row">
						      	
						      </td>
						      <td></td>
						      <td></td>
						    </tr>
						{% endfor %}
					    
					    
					  </tbody>
					</table>

					

					

					
				</div>

			</div>
		</div>
	</div>
	<!-- /typeahead -->
</div>
{% endblock content %}