
{% extends 'base/head.html' %}
{% load core_extras %}
{% load i18n %}

{% block content %}


<div class="row">
	<!-- Typeahead -->
	<div class="card col-12 card_cus">
		<div class="card-header">
			<h5 class="card-title">Staff Level List</h5>
		</div>
		<div class="card-body">
			<!-- <p class="mb-4">Table dibawah ini berupa list seluruh unit dari organization JADDI</p> -->
			<div class="btn-group mr-lg-3 mb-3">
				<a href="{% url 'staff-level-add' %}"><button type="Staff" class="btn btn-light"><i class="icon-diff-added"></i> <span class="d-none d-lg-inline-block ml-2">Add Staff Level</span></button></a>
			</div>
			<div class="row">
				<div class="col-12">
					<table class="table">
					  	<thead>
					    	<tr>
					      		<th scope="col">#</th>
					      		<th scope="col">Level Name</th>
					      		<th scope="col" class="text-center">Jumlah Staff</th>
					      		<th scope="col" class="text-center">Action</th>
					    	</tr>
					  	</thead>
					  	<tbody>
					  	{% for staff_level in staff_level_list%}
							<tr>
						    	<td scope="row">{{forloop.counter}}</td>
						      	<td scope="row">{{staff_level.level_name}}</td>
						      	<td scope="row" class="text-center">
						      		{% with staff_level.id as staff_level_id %}
							      		{% with staff_dict|dict_get:staff_level_id as staff_level_count %}
							      			<span class="badge badge-success badge-pill">{{staff_level_count|default:0}}</span>
							      		{% endwith %}
						      		{% endwith%}
						      		
						      	</td>
						      	<td class="text-center">
									<div class="list-icons">
										<div class="dropdown">
											<a href="#" class="list-icons-item" data-toggle="dropdown">
												<i class="icon-menu9"></i>
											</a>

											<div class="dropdown-menu dropdown-menu-right">
												<a href="{% url 'staff-level-update' staff_level.uid %}" class="dropdown-item"><i class="icon-pencil7"></i> Edit</a>
												<a href="{% url 'staff-level-delete' staff_level.uid %}" class="dropdown-item"><i class="icon-trash"></i> Delete</a>
											</div>
										</div>
									</div>
								</td>
						      
						      	<td></td>
						      	<td></td>
						    </tr>
						{% endfor %}
					  </tbody>
					</table>					
				</div>
			</div>
		</div>
	</div>
	<!-- /typeahead -->
</div>
{% endblock content %}