
{% extends 'base/head.html' %}

{% block content %}
{% load core_extras %}
<div class="row">
	<!-- Typeahead -->
	<div class="card col-12 card_cus">
		<div class="card-header">
			<h5 class="card-title">
				<div style="display:relative">
					<span>Change Password : {{staff.profile.full_name}}</span>
					<span>{{staff.staff_level.name}}</span>
				</div>
			</h5>
			<!-- <h6 class="card-title">{{staff.staff_level.name}}</h5> -->
		</div>

		<div class="card-body">
			<div class="row">
				<div class="col-12">
					<form method="POST" id="change-password-form"> 
						{% csrf_token %}
						<div class="mb-4">
							<h6 class="font-weight-semibold">New Password</h6>
							{{form.new_password | add_class:"form-control"}}
						</div>
						<div class="mb-4">
							<h6 class="font-weight-semibold">Confirmation Password</h6>
							{{form.confirm_password | add_class:"form-control"}}
						</div>
						<div class="mb-4">
							<input type="checkbox" id="display-passowrd"> show password
						</div>
						
						<div class="mb-4" id="error_message-div">
							<h6 class="badge badge-danger" id="error_message-span">{{error_message}}</h6>
						</div>
						
						<button type="button" class="btn btn-primary" id="submit-btn">Submit</button>
							
					</form>
					
				</div>

			</div>
		</div>
	</div>
	<!-- /typeahead -->
</div>
<script type="text/javascript">
	$( document ).ready(function() {
		$("#display-passowrd").change(function() {
		    if(this.checked) {
		        $('#id_new_password').attr('type','text');
		        $('#id_confirm_password').attr('type','text');
		    }
		    else {
		    	$('#id_new_password').attr('type','password');
		        $('#id_confirm_password').attr('type','password');
		    }
		});
    	
    	$('#submit-btn').click(function() {
    		let new_password = $('#id_new_password').val()
    		let confirmation_password = $('#id_confirm_password').val()
    		if(new_password != confirmation_password) {
    			$('#error_message-span').html('password dan konfirmasi password tidak sesuai');
    			console.log(123);
    		}
    		else {
    			$('#error_message-span').html()
    			$('#change-password-form').submit();
    		}
    	});
	});

	
</script>
{% endblock content %}