
{% extends 'base/head.html' %}

{% block content %}
<div class="row">
	<!-- Typeahead -->
	<div class="card col-12">
		
		<div class="card-header">
			<h5 class="card-title">Staff List</h5>
		</div>

		<div class="card-body">
			<!-- <p class="mb-4">Table dibawah ini berupa list seluruh unit dari organization JADDI</p> -->
			<div class="btn-group mr-lg-3 mb-3">
				<a href="{% url 'staff-add' %}"><button type="Staff" class="btn btn-light"><i class="icon-diff-added"></i> <span class="d-none d-lg-inline-block ml-2">Add Staff</span></button></a>
			</div>
			<div class="row">
				<div class="col-12">

					<table class="table">
					  <thead>
					    <tr>
					      <th scope="col">#</th>
					      <th scope="col">Fullname</th>
					      <th scope="col">Email</th>
					      <th scope="col">Level</th>
					      <th scope="col">Supervisor</th>
					      <th scope="col" class="text-center">Lock Status</th>
					      <th scope="col">Last Login</th>
					      <th scope="col" class="text-center">Action</th>
					    </tr>
					  </thead>
					  <tbody>
					  	{% for staff in staff_list%}
							<tr>
						      <td scope="row">{{forloop.counter}}</td>
						      <td scope="row">{{staff.profile.full_name}}</td>
						      <td scope="row">{{staff.profile.email}}</td>

						      <td scope="row">{{staff.staff_level.level_name}}</td>
						      <td scope="row">{{staff.staff_parent.profile.full_name}}</td>
						      <td scope="row" class="text-center">
						      	{% if staff.is_locked == True %}
									<i class="icon-lock2" style="color: red"></i>
								{% else %}
									<i class="icon-unlocked2" style="color: green"></i>
								{% endif %}

						      </td>
						      <td></td>
						      <td class="text-center">
									<div class="list-icons">
										<div class="dropdown">
											<a href="#" class="list-icons-item" data-toggle="dropdown">
												<i class="icon-menu9"></i>
											</a>

											<div class="dropdown-menu dropdown-menu-right">
												<a href="{% url 'staff-detail' staff.uid %}" class="dropdown-item"><i class="icon-pencil7"></i> Edit</a>
												{% if staff.is_locked == False %}
													<a href="{% url 'staff-lock' staff.uid %}" class="dropdown-item"><i class="icon-lock2"></i>Lock</a>
												{% else %}
													<a href="{% url 'staff-unlock' staff.uid %}" class="dropdown-item"><i class="icon-unlocked2"></i>Unlock</a>
												{% endif %}
												
												<a href="{% url 'staff-delete' staff.uid %}" class="dropdown-item"><i class="icon-trash"></i> Delete</a>
											</div>
										</div>
									</div>
								</td>
						    </tr>
						{% endfor %}
					    
					    
					  </tbody>
					</table>

					

					

					
				</div>

			</div>
		</div>
	</div>
	<!-- /typeahead -->
</div>
{% endblock content %}