
{% extends 'base/head.html' %}

{% block content %}
{% load core_extras %}
<div class="row">
	<!-- Typeahead -->
	<div class="card col-12">
		<div class="card-header">
			<h5 class="card-title">New Staff Salary</h5>
		</div>

		<div class="card-body">
			<div class="row">
				<div class="col-12">
					<form method="POST"> 
						{% csrf_token %}
						<div class="mb-4">
							<h6 class="font-weight-semibold">Salary Date</h6>
							<input type="text" name="salary_date" id="id_salary_date" class="form-control" value="{{salary.salary_date}}">
						</div>
						<div class="mb-4">
							<h6 class="font-weight-semibold">Salary Amount</h6>
							{{staff_salary_form.salary_amount | add_class:"form-control"}}
						</div>
						<div class="mb-4">
							<h6 class="font-weight-semibold">Salary Bonus Amount</h6>
							{{staff_salary_form.bonus_amount | add_class:"form-control"}}
						</div>

						<button type="submit" class="btn btn-primary">Submit</button>
							
					</form>
					
				</div>

			</div>
		</div>
	</div>
	<!-- /typeahead -->
</div>
<script type="text/javascript">
	$( document ).ready(function() {
    	$('#id_salary_date').pickadate({
            // parentEl: '.content-inner',
            // singleDatePicker: true,
            formatSubmit: 'yyyy-mm-dd',

            locale: {
                format: 'YYYY-MM-DD'
            },
            
        });
	});

	
</script>
{% endblock content %}