
{% extends 'base/head.html' %}

{% block content %}
{% load core_extras %}
<div class="row">
	<!-- Typeahead -->
	<div class="card col-12">
		
		<div class="card-header">
			<h5 class="card-title">Staff Salary List</h5>
		</div>

		<div class="card-body">
			<!-- <p class="mb-4">Table dibawah ini berupa list seluruh unit dari organization JADDI</p> -->
			<div class="btn-group mr-lg-3 mb-3">
				<a href="{% url 'staff-salary-add' staff_uid %}"><button type="Staff" class="btn btn-light"><i class="icon-diff-added"></i> <span class="d-none d-lg-inline-block ml-2">Add Staff Salary</span></button></a>
			</div>
			<div class="row">
				<div class="col-12">

					<table class="table">
					  <thead>
					    <tr>
					      <th scope="col">#</th>
					      <th scope="col">Staff Name</th>
					      <th scope="col">Salary Amount</th>
					      <th scope="col">Salary Bonus</th>
					      <th scope="col">Total Amount</th>
					      <th scope="col">Month</th>
					      <th scope="col" class="text-center">Action</th>
					    </tr>
					  </thead>
					  <tbody>
					  	{% for salary in staff_salary_list %}
							<tr>
						      <td scope="row">{{forloop.counter}}</td>
						      <td scope="row">{{salary.staff.profile.full_name}}</td>
						      <td scope="row">{{salary.salary_amount}}</td>
						      <td scope="row">{{salary.bonus_amount}}</td>
						      <td scope="row">{{salary.salary_amount|sum:salary.bonus_amount}}</td>
						      <td scope="row">{{salary.salary_date}}</td>
						      <td class="text-center">
									<div class="list-icons">
										<div class="dropdown">
											<a href="#" class="list-icons-item" data-toggle="dropdown">
												<i class="icon-menu9"></i>
											</a>

											<div class="dropdown-menu dropdown-menu-right">
												<a href="{% url 'staff-salary-edit' salary.staff.uid salary.id %}" class="dropdown-item"><i class="icon-pencil7"></i> Edit</a>
											</div>
										</div>
									</div>
								</td>
						    </tr>
						{% endfor %}
					    
					    
					  </tbody>
					</table>

					

					

					
				</div>

			</div>
		</div>
	</div>
	<!-- /typeahead -->
</div>
{% endblock content %}